<!-- Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Upload Video</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Upload Video</li>
            </ul>
        </div>
    </div>
</div>



<!-- Upload Video -->
<section class="product-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                

              

               
            </div>

            <div class="col-lg-6 col-md-12">
                

              
<!-- Contact -->
<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span>Blur Settings</span>
            
            <div class="bar"></div>
        </div>

        <div class="contact-form">
            <form id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>First Name*</label>
                            <mat-slider min="1" max="5" step="0.5" value="1.5">
                                <input matSliderThumb>
                            </mat-slider>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>Last Name*</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>Your Email*</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>Your Phone*</label>
                            <input type="text" name="phone_number" id="phone_number" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-3">
                            <label>Your Subject*</label>
                            <input type="text" name="msg_subject" id="msg_subject" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-3">
                            <label>Your Message*</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Contact -->


               
            </div>
          
        </div>
    </div>
</section>
<!-- End Product Details -->